<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ block "javascript" . }}
            <script src="/assets/app.js"></script>
        {{ end }}
    </head>
    <body data-controller="theme" data-theme-theme-value="light" data-theme-icon-value="fa-moon">
        {{ template "header" . }}
        <main>
            {{ template "body" . }}
        </main>
    </body>
</html>

{{define "header"}}
<header>
    <nav class="navbar bg-body-tertiary">
    <div class="container-md">
        <a class="navbar-brand" href="/">sniper-go</a>
        <div class="d-flex">
            <button data-action='theme#switchTheme' class="ms-2 btn btn-info "><i data-theme-target="icon" class="fa-solid"></i></button>
        </div>
    </div>
    </nav>
</header>
{{end}}