<!DOCTYPE html>
<html data-controller="theme" data-theme-theme-value="light" lang="en">

    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block javascript %}
            <script src="{{ url_for('static', filename=javascript_build('app.js')) }}"></script>
        {% endblock javascript %}
    </head>

    <body>

        <main class="d-flex">
            {% include 'layout/sidebar.html' %}
        
            {% block body %}{% endblock body %}
        </main>

    </body>

</html>