{{define "body"}}
<div class="p-5 container-md mb-3" data-terminal-list-outlet=".listable" data-controller="terminal">
    <div class="row">
        <div class="input-group">
            <input type="text" class="form-control"  id="input" data-terminal-target='input' placeholder="type an IP address or host name" aria-label="target host" aria-describedby="btn">
            <button data-terminal-target="btn" data-action='click->terminal#sendInput' id="btn" class="btn btn-primary" type="button">Snipe!</button>
        </div>
    </div>
    {{- /* <div class="my-3 row justify-content-center">
        <div style="max-height:350px !important;" class="overflow-auto col-lg-10 rounded text-bg-dark">
            <pre>
                <code class="text-light px-1 m-0" data-terminal-target="output">
~ whoami
root
                </code>
            </pre>
        </div>
    </div> */ -}}
    <div class="row mt-5">
        <div data-controller="list" data-list-url-value="/tasks" class="listable">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <div class="d-flex justify-content-between">
                    <h2 class="border-bottom pb-2 mb-0">Tasks</h2>
                    <span class="d-flex" data-controller="search">
                        <input data-search-target="input" data-list-target="input" data-action="list#filter" class="d-none form-control me-2" type="search" placeholder="Filter tasks" aria-label="Search">
                        <button data-search-target="btn" data-action="search#toggle" class="btn btn-outline-success"><i class="fa-solid fa-search"></i></button>
                    </span>
                </div>
                <span data-list-target="output"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div data-controller="list" data-list-url-value="/results" class="listable">
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <div class="d-flex justify-content-between">
                    <h2 class="border-bottom pb-2 mb-0">Results</h2>
                    <span class="d-flex" data-controller="search">
                        <input data-search-target="input" data-list-target="input" data-action="list#filter" class="d-none form-control me-2" type="search" placeholder="Filter results" aria-label="Search">
                        <button data-search-target="btn" data-action="search#toggle" class="btn btn-outline-success"><i class="fa-solid fa-search"></i></button>
                    </span>
                </div>
                <span data-list-target="output"></span>
            </div>
        </div>
    </div>
</div>
{{end}}