{{define "base"}}
<!DOCTYPE html>
<html data-controller="theme" data-theme-theme-value="light" data-theme-icon-value="fa-moon" lang="en">
    <head>
        <title>{{ .title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ block "javascript" . }}
            <script src="/assets/app.js"></script>
        {{ end }}
    </head>
    <body data-controller="results">
        {{ block "header" . }}{{end}}
        <main class="d-flex">
            {{ block "body" . }}Content{{ end }}
        </main>
    </body>
</html>
{{end}}