{{define "header"}}
<header>
    <nav class="navbar bg-body-tertiary">
    <div class="container-md">
        <a class="navbar-brand">sniper-go</a>
        <div class="d-flex">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <button data-action='theme#switchTheme' class="ms-2 btn btn-info "><i class="fas fa-home"></i></button>
        </div>
    </div>
    </nav>
</header>
{{end}}