{{ template "base" . }}

{{ define "title" }}{{ end }}

{{define "body"}}
<div class="p-5 container-md">
    <h1>Main Page</h1>
    <p>testo</p>

    <div data-controller='socket'>
        <p data-socket-target='output'></p>
        <label class="form-label" for="input">Inserisci un testo</label>
        <input class="form-control" type="text" id="input" data-socket-target='input' class="form-control" placeholder="Inserisci un testo">
        <button data-action='socket#sendInput' id="btn" class="btn btn-primary">Invia</button>
    </div>

</div>

{{end}}