<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Report {{ if .report.Host.Name }} {{ .report.Host.Name }} {{ end}} {{ if .report.Host.IP }} : {{ .report.Host.IP }} {{end}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Report {{ if .report.Host.Name }} {{ .report.Host.Name }} {{ end}} {{ if .report.Host.IP }} : {{ .report.Host.IP }} {{end}}</h1>
        <div>
            <h2>Summary</h2>
            <table>
                <tr>
                    <th>Critical</th>
                    <td>{{ .report.Summary.Critical }}</td>
                </tr>
                <tr>
                    <th>High</th>
                    <td>{{ .report.Summary.High }}</td>
                </tr>
                <tr>
                    <th>Medium</th>
                    <td>{{ .report.Summary.Medium }}</td>
                </tr>
                <tr>
                    <th>Low</th>
                    <td>{{ .report.Summary.Low }}</td>
                </tr>
                <tr>
                    <th>Info</th>
                    <td>{{ .report.Summary.Info }}</td>
                </tr>
            </table>
        </div>
        <ul>
        {{ range .report.Vulnerabilities }}
            <li>{{ .report.Name }}</li>
        {{ end }}
        </ul>
    </body>
</html>