{{ define "screenshots" }}
<div class="carousel slide">
  <div class="carousel-inner">
    {{ range .screen }}
    <div class="carousel-item">
      <img src="{{ . }}" class="d-block w-100" alt="{{ . }}">
    </div>
    {{ end }}
  </div>
  <button class="carousel-control-prev" type="button">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{{ end }}