<div data-controller="sidebar" class="d-flex flex-column flex-shrink-0 sidebar shadow">
    <a class="px-3 pt-3 d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"><span data-sidebar-target="logo"></span></a>
    <hr/>
    <ul class="px-3 nav nav-pills flex-column">
        {% for link in links %}
            <li class="nav-item">
                <a class="nav-link link-dark" data-sidebar-target="link" data-action="mouseover->sidebar#onLinkHover" href={{ url_for(link["url"]) }}>
                    {{ link["name"] }}
                </a>
            </li>
        {% endfor %}    
    </ul>
</div>